<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="canvas">
                <canvas id="canvas" #canvas (click)="point($event)">
                    Your browser doesn't appear to support the Canvas element.
                </canvas>
            </div>
            <div class="canvas">
                <canvas id="canvasDAG" #canvasDAG>
                    Your browser doesn't appear to support the Canvas element.
                </canvas>
            </div>
        </div>
        <div class="col-md-2">
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Draw all given Lines" (click)="drawLines()">Draw Lines</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Redraw current trapezoidal decomposition" (click)="drawRIC()">Draw RIC</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger" title="Go back to previous insertion" (click)="stepBck()">Step back</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>{{ counter }} / {{ total }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success" title="Locate/Update next insertion" (click)="stepFwd()">Step forward</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-warning" title="Calculate whole DAG" (click)="skip()">Skip to end</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12" id="lines">
                    <div *ngFor="let line of lines; index as i;" class="row">
                        <div class="col-md-3">
                            <p>{{line.name}}</p>
                        </div>
                        <div class="col-md-9">
                            <button title="Place before previous Line" (click)="swapLineUp(i)"><span class="glyphicon glyphicon-triangle-top"></span></button>
                            <button title="Place after next Line" (click)="swapLineDown(i)"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            <button title="Delete Line" (click)="deleteLine(i)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger" (click)="testInsert()"><h3>TEST</h3></button>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Calculate a new order of Insertion" (click)="shuffleLines()">shuffle Lines</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" #dropdown [class.open]="open">
                        <button type="button" class="btn dropdown-toggle" [ngClass]="insertMode==='custom'?'btn-primary':'btn-warning'" data-toggle="dropdown" (click)="open=!open">
                            <span class="caret"></span>
                        </button>
                        <button *ngIf="insertMode==='custom'" class="btn btn-primary" title="Insert Line from (x1,y1) to (x2,y2)" (click)="insertLine(x1.valueAsNumber,y1.valueAsNumber,x2.valueAsNumber,y2.valueAsNumber)">Insert Line</button>
                        <button *ngIf="insertMode==='reset'" class="btn btn-warning" title="Reset Lines to initial 5" (click)="initLines(insertMode)">Reset Lines to initial</button>
                        <button *ngIf="insertMode==='locateWorstCaseLowerBound'" class="btn btn-warning" title="Insert Lines to show lower bound search path length for worst case insertion" (click)="initLines(insertMode)" >Insert Lines worst case</button>
                        <button *ngIf="insertMode==='random'" class="btn btn-warning" title="Insert up to 100 random Lines" (click)="testInsert()" >Insert random Lines</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" (click)="insertMode='custom'; open=!open">custom</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='reset'; open=!open">reset</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='locateWorstCaseLowerBound'; open=!open">worst case</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='random'; open=!open">random</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <label>x1</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="x1" #x1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label>y1</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="y1" #y1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label>x2</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="x2" #x2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label>y2</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="y2" #y2>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Locate Point (x,y)" (click)="locatePoint()">locate Point</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <label>x</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="x" [(ngModel)]="locateX" #x>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <label>y</label>
                        </div>
                        <div class="col-md-2">
                            <input type="number" placeholder="y" [(ngModel)]="locateY" #y>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Trapezoid</label>
                        </div>
                        <div class="col-md-8">
                            <span>{{locateTrap}}</span>
                        </div> 
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Calculate the longest legal search path in the DAG" (click)="longestLegalSearchPath()">Longest search path</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Longest Path</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{longestPath}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Max Depth</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{maxDepth}}</span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>