<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="canvas">
                <canvas id="canvas" #canvas (click)="point($event)">
                    Your browser doesn't appear to support the Canvas element.
                </canvas>
            </div>
            <div class="canvas">
                <canvas id="canvasDAG" #canvasDAG>
                    Your browser doesn't appear to support the Canvas element.
                </canvas>
            </div>
        </div>
        <div class="col-md-2">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-primary" title="Draw all given Lines" (click)="drawLines()">Draw Lines</button>
                        <button class="btn btn-primary" title="Redraw current trapezoidal decomposition" (click)="drawRIC()">Draw RIC</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-danger" title="Go back to previous insertion" (click)="stepBck()"><span class="glyphicon glyphicon-triangle-left"></span></button>
                        <a class="btn disabled" role="button">{{ counter }} / {{ total }}</a>
                        <button class="btn btn-success" title="Locate/Update next insertion" (click)="stepFwd()"><span class="glyphicon glyphicon-triangle-right"></span></button>
                        <button class="btn btn-warning" title="Perform all remaining insertion steps" (click)="skip()"><span class="glyphicon glyphicon-triangle-right"></span><span class="glyphicon glyphicon-triangle-right"></span></button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12" id="lines">
                    <div *ngFor="let line of lines; index as i;" class="row">
                        <div class="col-md-3">
                            <p>{{line.name}}</p>
                        </div>
                        <div class="col-md-9">
                            <button title="Place before previous Line" (click)="swapLineUp(i)"><span class="glyphicon glyphicon-triangle-top"></span></button>
                            <button title="Place after next Line" (click)="swapLineDown(i)"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
                            <button title="Delete Line" (click)="deleteLine(i)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger" (click)="testInsert()"><h3>TEST</h3></button>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-primary" title="Calculate a new order of Insertion" (click)="shuffleLines()">Shuffle Lines</button>
                        <button class="btn btn-danger" title="Delete all Lines" (click)="initLines('deleteAll')" >Delete all Lines</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" #dropdown [class.open]="open">
                        <button type="button" class="btn dropdown-toggle" [ngClass]="insertMode==='custom'?'btn-primary':'btn-warning'" data-toggle="dropdown" (click)="open=!open">
                            <span class="caret"></span>
                        </button>
                        <button *ngIf="insertMode==='custom'" class="btn btn-primary" title="Insert Line from (x1,y1) to (x2,y2)" (click)="insertLine(x1.valueAsNumber,y1.valueAsNumber,x2.valueAsNumber,y2.valueAsNumber)">Insert Line</button>
                        <button *ngIf="insertMode==='reset'" class="btn btn-warning" title="Reset Lines to initial 5" (click)="initLines(insertMode)">Reset Lines to initial</button>
                        <button *ngIf="insertMode==='locateWorstCaseLowerBound'" class="btn btn-warning" title="Insert Lines to show lower bound search path length for worst case insertion" (click)="initLines(insertMode)" >Insert Lines worst case Lower Bound</button>
                        <button *ngIf="insertMode==='worstcaseExp'" class="btn btn-warning" title="Insert Lines that burst all expected boundaries" (click)="initLines(insertMode)" >Insert Lines worst case Boundaries</button>
                        <button *ngIf="insertMode==='polygons'" class="btn btn-warning" title="Insert Lines to show Polygon functionality" (click)="initLines(insertMode)" >Insert Polygons</button>
                        <button *ngIf="insertMode==='random'" class="btn btn-warning" title="Insert up to 100 random Lines" (click)="testInsert()" >Insert random Lines</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" (click)="insertMode='custom'; open=!open">custom</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='reset'; open=!open">reset</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='locateWorstCaseLowerBound'; open=!open">worst case lower bound</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='worstcaseExp'; open=!open">worst case boundaries</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='polygons'; open=!open">polygons</a></li>
                            <li><a class="dropdown-item" href="#" (click)="insertMode='random'; open=!open">random</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">x1</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="x1" #x1>
                        <span class="input-group-addon" id="sizing-addon1">y1</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="y1" #y1>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">x2</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="x2" #x2>
                        <span class="input-group-addon" id="sizing-addon1">y2</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="y2" #y2>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Locate Point (x,y)" (click)="locatePoint()">Locate Point</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">x</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="x" [(ngModel)]="locateX" #x>
                        <span class="input-group-addon" id="sizing-addon1">y</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="y" [(ngModel)]="locateY" #y>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Trapezoid</label>
                </div>
                <div class="col-md-8">
                    <span>{{locateTrap}}</span>
                </div> 
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" title="Analyze the DAG for the properties below" (click)="analyzeDAG(c1.valueAsNumber,c2.valueAsNumber)">Analyze DAG</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">c1</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="c1" min="1" #c1>
                        <span class="input-group-addon" id="sizing-addon1">c2</span>
                        <input type="number" class="form-control" aria-describedby="sizing-addon1" placeholder="c2" min="1" #c2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Longest Path</label>
                        </div>
                        <div class="col-md-4">
                            <span [ngStyle]="{'color': meetsPathBound==undefined?'black':meetsPathBound?'green':'red'}">{{longestPath}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Max Depth</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{maxDepth}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Trapezoid Amount</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{trapAmount}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Node Amount</label>
                        </div>
                        <div class="col-md-4">
                            <span [ngStyle]="{'color': meetsSizeBound===undefined?'black':meetsSizeBound?'green':'red'}">{{nodeAmount}}</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label>Edge Amount</label>
                        </div>
                        <div class="col-md-4">
                            <span>{{edgeAmount}}</span>
                        </div> 
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-8">
                            <label>Total size (Node+Edge)</label>
                        </div>
                        <div class="col-md-4">
                            <span [ngStyle]="{'color': meetsSizeBound===undefined?'black':meetsSizeBound?'green':'red'}">{{edgeAmount&&nodeAmount?edgeAmount+nodeAmount:""}}</span>
                        </div> 
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group">
                                <button class="btn btn-warning" title="Recalculate the DAG" (click)="recalc(c1.valueAsNumber,c2.valueAsNumber)">Retry</button>
                                <button class="btn btn-warning" title="Repeat until DAG in boundaries found" (click)="findDAGInBound(c1.valueAsNumber,c2.valueAsNumber)"><span class="glyphicon glyphicon-refresh"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>